* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
    color: white;
    background-color: #146551;
    border: 4px solid #197760;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5vw;
    padding: 2px;
    margin: 0;
}
nav {
    float: left;
    width: 30%;
    background-color: #8FC1B5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: right;
    height: auto;
    margin: 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
article {
    background-color: #589A8D;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    float: left;
    width: 70%;
    height: auto;
    margin: 5px 5px 5px 5px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}